body, html{
    height: 100%;
    margin: 0;
}

.bg{
    background-image: url("fundo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#menu ul{
    margin: 0;
    background-color: #32323273;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    color: #333;
    text-decoration: none;
}

#menu ul li { display: inline; }

.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 20px 20px rgba(244, 26, 69, 0.5);
}

.container{
    display: grid;
    margin: 40px;
    grid-template-columns: 276px 276px 276px 276px 276px 276px;
    grid-template-rows: 386px 386px;
    grid-template-areas: "a b c d e f"
                        "g h i j k l";

    column-gap: 20px;
    row-gap: 20px;
}

#cardLoL{
    grid-area: a;
}
#cardFallGuys{
    grid-area: b;
}
#cardCoD{
    grid-area: c;
}
#cardDota{
    grid-area: d;
}
#cardAmongUs{
    grid-area: e;
}
#cardFortnite{
    grid-area: f;
}
#cardCS{
    grid-area: g;
}
#cardValorant{
    grid-area: h;
}
#cardGTAV{
    grid-area: i;
}
#cardMinecraft{
    grid-area: j;
}
#cardTFT{
    grid-area: k;
}
#cardOthers{
    grid-area: l;
}
